.footer {
  display: flex;
  justify-content: flex-end;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: var(--half-spacing);
  text-align: right;
}

.footerContent * {
  display: flex;
  align-items: center;
  column-gap: var(--half-spacing);
}
