.lightSwitch {
  font-size: 3.125rem;
  cursor: pointer;
  position: relative;
}

.lightSwitch span {
  user-select: none;
}

.lightSwitch input {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}
