.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 10.25rem;
  gap: var(--spacing);
}

.article {
  grid-row: span 2;
  transition: background 2.5s linear;
}

.article:nth-child(1),
.article:nth-last-child(1) {
  grid-row: span 1;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .article:nth-child(3) {
    grid-row: span 1;
  }
}

.yellow {
  background: var(--yellow);
}
.yellow-pale {
  background: var(--yellow-pale);
}
.yellow-dark {
  background: var(--yellow-dark);
}
.red {
  background: var(--red);
}
.red-dark {
  background: var(--red-dark);
}
.green {
  background: var(--green);
}
.green-dark {
  background: var(--green-dark);
}
.white {
  background: var(--white);
}
.foreground {
  background: var(--foreground);
}
