---
import Layout from '../layouts/Layout.astro';
---

<Layout title="reobin.dev">
  <main>
    <h1><strong>Hello!</strong> I'm Robin.<br />I code and brew coffee.</h1>
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-align: center;
  }
</style>
