/**
 * Nord Theme Originally by Arctic Ice Studio
 * https://nordtheme.com
 *
 * Ported for PrismJS by Zane Hitchcoxc (@zwhitchcox) and Gabriel Ramos (@gabrieluizramos)
 */


code[class*="language-"],
pre[class*="language-"] {
  background: none;
  font-family: "JetBrains Mono", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1rem;
  margin: 1rem 0;
  overflow: auto;
  border-radius: 0.3rem;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1rem;
  border-radius: 0.3rem;
  white-space: normal;

  background: var(--code-word-background);
  color: var(--code-word-text);
}

pre[class*="language-"] {
  background: var(--code-background);
  color: var(--code-text);
}


.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment);
}

.token.punctuation {
  color: var(--code-primary);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--code-primary);
}

.token.number {
  color: var(--code-number);
}

.token.boolean {
  color: var(--code-primary);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--code-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--code-primary);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--code-secondary);
}

.token.keyword {
  color: var(--code-primary);
}

.token.regex,
.token.important {
  color: var(--code-secondary);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
