<header>
  <a href="/">
    <img src="/avatar.png" alt="reobin.dev" class="logo" width="" />
    <h2>reobin.dev</h2>
  </a>
</header>

<style>
  a {
    width: min-content;
    display: flex;
    align-items: center;
    column-gap: var(--spacing-1);
    color: var(--foreground);
    border: none;
    transition: color var(--transition-duration)
      var(--transition-timing-function);
  }

  a:hover {
    color: var(--foreground-accent);
  }

  h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-style: normal;
  }

  .logo {
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
  }
</style>
