.container * {
  user-select: none;
}

.container {
  cursor: pointer;
  position: relative;

  --slider-width: 5rem;
  --slider-height: calc(var(--slider-width) / 2);
  --slider-background: var(--foreground);
  --slider-foreground: var(--background);
  --slider-spacing: calc(var(--slider-width) / 24);

  --dot-size: calc(var(--slider-height) - var(--slider-spacing) * 2);
  --icon-size: calc(var(--slider-width) / 4);
  --icon-offset: calc((var(--dot-size) - var(--icon-size)) / 2);
}

@media (max-width: 768px) {
  .container {
    --slider-width: 3rem;
  }
}

.container:focus-within {
  outline: 5px solid var(--accent-color-alt);
  border-radius: var(--slider-height);
}

.input {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}

.slider {
  width: var(--slider-width);
  height: var(--slider-height);
  border-radius: var(--slider-height);
  background: var(--slider-background);
  transition: 200ms;
}

.dot {
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  background: var(--slider-foreground);
  position: absolute;
  top: var(--slider-spacing);
  left: var(--slider-spacing);
  transition: 200ms;
}

.input:checked + .slider > .dot {
  left: calc(var(--slider-width) - var(--slider-spacing) - var(--dot-size));
}

.slider > svg {
  width: var(--icon-size);
  height: var(--icon-size);
  position: absolute;
  top: 50%;
  left: calc(
    var(--slider-width) - var(--slider-spacing) - var(--dot-size) +
      var(--icon-offset)
  );
  transform: translateY(-50%);
  color: var(--slider-foreground);
}

.input:checked + .slider > svg {
  left: calc(var(--slider-spacing) + var(--icon-offset));
}
