.container {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: var(--half-spacing);
  text-align: right;
}

.content * {
  display: flex;
  align-items: center;
  column-gap: var(--quarter-spacing);
}

.content svg {
  width: 1.25rem;
  height: 1.25rem;
}
